
.copy-code-button {
  color: #272822;
  background-color: rgb(232, 235, 127);
  border: 2px solid;
  border-color: #efd975;
  border-radius: 3px 3px 3px 3px;
  opacity: 0.7;

  outline-color: #e5e548;


  /* right-align */
  display: block;
  margin-left: auto;
  margin-right: 0;

  margin-top: -21px;
  margin-bottom: -2px;
  padding: 1px 3px;
  font-size: 0.7em;

  position: relative;
  bottom: -19px;
  
  // transition: transform 0.1s;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #e5e548;
  opacity: 1;
}

.copy-code-button:focus {
  /* Avoid an ugly focus outline on click in Chrome,
     but darken the button for accessibility.
     See https://stackoverflow.com/a/25298082/1481479 */
  background-color: rgb(253, 139, 194);
  outline: 0;
  opacity: 1;
}

.copy-code-button:active {
  background-color: rgb(212, 214, 140);
  opacity: 1;
}

.highlight pre {
  /* Avoid pushing up the copy buttons. */
  margin: 0;
}
